
<section id="main-content">
	<section class="wrapper">
		<h1>Blockchain</h1>
		<div class="row mt">
			<div class="col-lg-12">
				<div class="showback">
					<h4 class="mb">
						Request Check
					</h4>
					<form class="form-inline" role="form">
						<div class="col-lg-10">
							<input type="text" class="form-control"
								id="req" ng-model="requestID" placeholder="Enter Request ID">
						</div>
						<button href="#isvalidModal" type="submit" class="btn btn-theme" data-toggle="modal" 
						ng-click="check()">Check</button>
					</form>
				</div>
				<!-- /form-panel -->
			</div>
			<!-- /col-lg-12 -->
		</div>

		<div class="row mt">
		
			<div class="col-lg-12">
				<div class="showback">
					<h4>Client Blockchain Transactions</h4>
					<div id="chart">
					
					<div id="columnchart_material" style=" height: 500px; width: 80%; margin: 0 auto;"></div>
					
					</div>
				</div>
			</div>
		
			<div class="col-lg-12">
				<div class="showback">
					<h4>Admin Feed</h4>
					<div class="panel-group" data-ng-repeat="feed in feedList">
						<div class="panel panel-default">
							<div class="panel-heading"  >
								<h4 class="panel-title">
								<button href="#chartModal" class="btn btn-default" data-toggle="modal" ng-click="testing();">
													<a data-toggle="collapse" href="#{{ $index }}" onclick="return false;"> 
													{{feed.client}}
													</a>
								</button>
								</h4>
							</div>
							
							<div id="{{ $index }}" class="panel-collapse collapse">
								<ul class="list-group">
								<li>
									
								</li>
									<li class="list-group-item"
										data-ng-repeat="transaction in feed.transactions">
										<button href="#myModal" class="btn btn-default"
											data-toggle="modal" ng-click="load(transaction)">{{transaction}}</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				
			</div>
			
		</div>

	</section>
</section>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
	tabindex="-1" id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Transaction Details</h4>
			</div>
			<div class="modal-body">
				<h4>Transaction Data</h4>
				<div class="alert alert-success" style="overflow: auto;">
					<b>{{t.transaction_data}}</b>
				</div>
				<h4>Mutation hash</h4>
				<div class="alert alert-info" style="overflow: auto;">
					<b>{{t.mutation_hash}}</b>
				</div>
				<h4>Timestamp</h4>
				<div class="alert alert-warning" style="overflow: auto;">
					<b>{{t.timestamp}}</b>
				</div>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-success" type="button">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
	tabindex="-1" id="isvalidModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Transaction Validity</h4>
			</div>
			<div class="modal-body">
				<h4>Transaction Data</h4>
				<div class="alert alert-success" style="overflow: auto;">
					<b>{{validityMsg}}</b>
				</div>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-success" type="button">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- modal chart -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
	tabindex="-1" id="chartModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Client Transaction Details</h4>
			</div>
			<div class="modal-body">
				<div id="client_detail_chart" style=" height: 100%; width: 80%; margin: 0 auto;"></div>
									
									<script type="text/javascript">
									google.charts.setOnLoadCallback(drawChart1);
								    function drawChart1() {
								      var data1 = google.visualization.arrayToDataTable([
								        ['Client', '# Transactions', 'Rejected', 'Approved'],
								        ['Bank of America', 10, 4, 6],
								      
								      ]);

								      var options1 = {
								        chart: {
								          title: '',
								          subtitle: '',
								        }
								      };

								      var chart1 = new google.charts.Bar(document.getElementById('client_detail_chart'));

								      chart1.draw(data1, options1);
								    }
									</script>
				
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-success" type="button">OK</button>
			</div>
		</div>
	</div>
</div>
