<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!--  <script>
$(document).ready( function() {
	$.post("http://10.250.143.29:3000/chainfeed/21", { "host" :
	"http://54.153.102.235:8080" }, function(data, status) { var output =
	""; for (var i = 0; i < data.length; i++) { output = output + "
	<p>" + "
	<div>
		" + "<B>" + "transaction_id: " + "</B>" + data[i].mutation_hash + "</br>" +
		"<B>" + "key: " + "</B>" + data[i].transaction_data.key + "</br>" + "<B>"
			+ "value: " + "</B>" + data[i].transaction_data.value + "
	</div>
	" + "
	</p>
	"; } $("#transaction").html(output); }); });
</script> -->

<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<h1>Blockchain</h1>
		<p>Transaction Feed</p>

		<!-- 		<marquee direction="up"> -->
					<table class="table table-striped table-advance table-hover">
						<hr>
						<thead>
							<tr>
								<th><i class="fa fa-bullhorn"></i> Transaction Hash List</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="feed in feedList">
								<td>
								<!-- <a href="#myModal">{{feed.transactionid}}</a> -->
								<button class="btn btn-success btn"  data-toggle="modal"
								href="#" data-ng-click="#myModal"
							 			style="float:ledt; margin-left:0px;">
										{{feed.transactionid}}
									</button>
								</td>
							</tr>
							</tbody>
					</table>
		</div>
		<!-- 		</marquee> -->
	</section>
</section>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
	tabindex="-1" id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Blockchain Transaction Detail</h4>
			</div>
			<div class="modal-body">
				<p>Department Name</p>
				
				<label for="MyField">Sanket</label>
				</br>
				<label for="MyField">Sanket</label>
				</br>
				<label for="MyField">Sanket</label>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
