
<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i>User Dashboard
		</h3>

		<div class="row mt">
			<div class="col-lg-6">
				<h4>Request-1 Summary</h4>
				 <div id="chart_div1" style="width:600px; height: 300px;"></div>
			</div>
			<div class="col-lg-6">
				<h4>Request Details</h4>
				 <div id="chart_div2" style="width:600px; height: 300px;"></div>
			</div>
		</div>
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>Request-2 Summary</h4>
				 <div id="chart_div3" style="width:600px; height: 300px;"></div>
			</div>
			<div class="col-lg-6">
				<h4>Request Details</h4>
				 <div id="chart_div4" style="width:600px; height: 300px;"></div>
			</div>
		</div>
		
	</section>
</section>
