<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> Client Details
		</h3>
		<div class="row mt">
			<div class="col-lg-12">
				<div class="form-panel">
					<h4 class="mb">
						<i class="fa fa-angle-right"></i> Client
					</h4>
					<form class="form-horizontal style-form">
						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Client
								Name</label>
							<div class="col-lg-10">
								<p class="form-control-static">{{client.name}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Client
								Address</label>
							<div class="col-lg-10">
								<p class="form-control-static">{{client.address}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 col-sm-2 control-label">Active</label>
							<div class="col-lg-10">
								<p class="form-control-static">{{client.active}}</p>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- col-lg-12-->
		</div>

		<div class="row mt">
			<div class="col-md-12">
				<div class="content-panel">
					<table class="table table-striped table-advance table-hover">
						<h4>
							<i class="fa fa-angle-right"></i> Department List
							<button class="btn btn-success btn"  data-toggle="modal" href="#myModal"
							 style="float:right; margin-right:50px;">
										<i class="fa fa-plus"></i>
									</button>
						</h4>
						<hr>
						<thead>
							<tr>
								<th><i class="fa fa-bullhorn"></i> Department Name</th>
								<th class="hidden-phone"><i class="fa fa-question-circle"></i>
									Address</th>
								<th><i class=" fa fa-edit"></i> Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-show="client.clientDepartments.length!=0" data-ng-repeat="dept in client.clientDepartments">
								<td><a href="/#/client/{{client.id}}/dept/{{dept.id}}">{{dept.name}}</a></td>
								<td>{{dept.name}}</td>
								<td>
									<button class="btn btn-danger btn-xs">
										<i class="fa fa-trash-o "></i>
									</button>
								</td>
							</tr>
							<tr>
								<td ng-show="client.clientDepartments.length==0">No records found..</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /content-panel -->
			</div>
			<!-- /col-md-12 -->
		</div>
		<!-- /row -->
						<input type="text" ng-model="dept.name" placeholder="Name"
					autocomplete="off" class="form-control placeholder-no-fix">
		
	</section>
</section>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
	tabindex="-1" id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Create Department</h4>
			</div>
			<div class="modal-body">
				<p>Department Name</p>
				<input type="text" ng-model="dept.name" placeholder="Name"
					autocomplete="off" class="form-control placeholder-no-fix">
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default"
					type="button">Cancel</button>
				<button class="btn btn-theme"  data-dismiss="modal" ng-click="doDeptCreate()" 
					type="button">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- modal -->