
<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i>Admin Dashboard
		</h3>

		<div class="row mt">
			<div class="col-lg-6">
				<h4>Department Status Report</h4>
				 <div id="chart_div1" style="width:700px; height: 400px;"></div>
			</div>
			<div class="col-lg-6">
				<h4>Department Performance Report</h4>
				 <div id="chart_div2" style="width:600px; height: 400px;"></div>
			</div>
		</div>
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>Requests per Day</h4>
				 <div id="chart_div4" style="width:300px; height: 400px;"></div>
			</div>
			<div class="col-lg-6">
				<h4>Department-Request Mapping</h4>
				 <div id="chart_div3" style="width:600px; height: 400px;"></div>
			</div>
			
		</div>
		
	</section>
</section>
