  
  <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Secure Documentation using BlockChain</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
            </div>
            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" ng-click="logout()">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/bitcoin.png" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">{{user.name}}</h5>
             
                  <li class="mt">
                      <a data-ui-sref="root.myrequests" ng-class="getClass('/myrequests')">
                          <i class="fa fa-inbox"></i>
                          <span>My Requests</span>
                      </a>
                  </li> 
                  <li class="mt">
                 
                  <li class="mt" data-ng-if="'admin' || 'staff' || 'manager'">

                      <a data-ui-sref="root.inbox" ng-class="getClass('/inbox')">
                          <i class="fa fa-inbox"></i>
                          <span>Inbox</span>
                      </a>
                  </li>
                   <li class="mt"  data-ng-if="'admin'">	
                      <a data-ui-sref="root.workflow" ng-class="getClass('/workflow')">
                          <i class="fa fa-cogs"></i>
                          <span>WorkFlows</span>
                      </a>
                  </li>
                  <li class="mt"  data-ng-if="superadmin">
                      <a data-ui-sref="root.client" ng-class="getClass('/client')">
                          <i class="fa fa-university"></i>
                          <span>Clients</span>
                      </a>
                  </li>
                  
                  <li class="mt">
                      <a data-ui-sref="root.request" ng-class="getClass('/request')">
                          <i class="fa fa-send"></i>
                          <span>Create Request</span>
                      </a>
                  </li>
                  <li class="mt"  data-ng-if="admin">
                      <a data-ui-sref="root.blockchain"  ng-class="getClass('/block')">
                          <i class="fa fa-chain"></i>
                          <span>BlockChain Feed</span>
                      </a>
                  </li>
                  <li class="mt" data-ng-if="admin">
                      <a data-ui-sref="root.adminfeed"  ng-class="getClass('/adminfeed')">
                          <i class="fa fa-chain"></i>
                          <span>Admin Feed</span>
                      </a>
                  </li>
                  
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->