
<section id="main-content">
	<section class="wrapper">
		<!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

		<div class="col-lg-3 ds" style="height: 800px; overflow-y: scroll;">
			<!--COMPLETED ACTIONS DONUTS CHART-->
			<h3>INBOX</h3>

			<!-- First Action -->
			<div class="desc" data-ng-repeat="req in requests">
				<a href="">
					<div ng-click="getReqDetails($index)">
						<div class="thumb">
							<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
						</div>
						<div class="details">
							<p>
								<muted>{{req.request.title}}</muted>
								<br /> {{req.request.description}}<br />
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-9 main-chart" ng-show="req==null">
			Select a Request....
		</div>
		<div class="col-lg-9 main-chart" ng-show="req!=null">
			<div class="form-panel">
				<h4 class="mb">
					<i class="fa fa-angle-right"></i> Progress Status
				</h4>
				<div style="pointer-events: none; opacity: 0.5;">
					<flow-chart class="col-md-12" ng-disabled="true"
						style="margin-top: 5px; margin-bottom: 10px;  height: 380px;"
						chart="chartViewModel"> </flow-chart>
				</div>

				<h4 class="mb">
					<i class="fa fa-angle-right"></i> Update Request
				</h4>
				<form class="form-horizontal style-form" method="get">

					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">Request
							Title</label>
						<div class="col-sm-10">{{req.title}}</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5">{{req.description}}</textarea>
						</div>
					</div>
					<button class="btn btn-theme02" data-ng-click="doActionOnRequest(req.id,req.nodes,'APPROVED')">Accept</button>
					<button class="btn btn-theme03" data-ng-click="doActionOnRequest(req.id,req.nodes,'REJECTED')">Reject</button>
				</form>
			</div>
		</div>
	</section>
</section>

<!--main content end-->
</div>
</section>
</section>
