
<section id="main-content">
	<section class="wrapper">
		<!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->

		<div class="col-lg-3 ds" style="height: 800px; overflow-y: scroll;">
			<!--COMPLETED ACTIONS DONUTS CHART-->
			<h3>MY REQUESTS</h3>

			<!-- First Action -->
			<div class="desc" data-ng-repeat="req in requests">
				<a href="">
					<div ng-click="getReqDetails($index)">
						<div class="thumb">
							<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
						</div>
						<div class="details">
							<p>
								<muted>{{req.title}}</muted>
								<br /> {{req.description}}<br />
							</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-lg-9 main-chart" ng-show="req==null">
			Select a Request....
		</div>
		<div class="col-lg-9 main-chart" ng-show="req!=null">
			<div class="form-panel">
				<h4 class="mb">
					<i class="fa fa-angle-right"></i> Request: {{req.title}}
				</h4>
				<table class="table table-striped table-advance table-hover">
				<tr>
					<td>Request ID: </td><td>{{req.id}}</td>
					<td>Created On: </td><td>{{req.created}}</td>
				</tr>
				<tr>
					<td>Originator: </td><td>{{req.initiatorid.email}}</td>
					<td>More details: </td><td><a href="/#/request/{{req.id}}">Click here</a></td>
				</tr>
				<tr>
					<td>Status: </td><td>{{req.status}}</td>
					<td>Assigned To:</td><td>{{req.assignedDept}}</td>
				</tr>
				<tr>
					<td>Transaction Hash:</td><td colspan="3">{{req.mutationHash}}</td>
				</tr>
				</table>

				<table class="table table-striped table-advance table-hover">
					<tr align="right">
					<div id="piechart" style="width: 500px; height: 200px; margin: auto;"></div>
					</tr>
					<tr>
					<div class="col-md-12">
					<div style="pointer-events: none; opacity: 0.5;">
						<flow-chart class="col-md-12" ng-disabled="true"
							style="margin-top: 10px; margin-bottom: 10px;  height: 200px; border: none; margin: auto; padding: 10px;"
							chart="chartViewModel"> </flow-chart>
					</div>
					</div>
				</tr>
				</table>				
				

				<h4 class="mb">
					<i class="fa fa-angle-right"></i> Request Description
				</h4>
				<form class="form-horizontal style-form" method="get">

					<div class="form-group" align="center">
						<div style="padding:20px;"  align = "center">
							<textarea class="form-control" rows="5" cols="100" disabled>{{req.description}}</textarea>
						</div>
					</div>					
				</form>
			</div>
		</div>
	</section>
</section>

<!--main content end-->
</div>
</section>
</section>
