

<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i> Request: {{request.title}}
		</h3>
		<div class="row mt">

			<div class="col-md-12">
				<div style="pointer-events: none; opacity: 0.5;">
					<flow-chart class="col-md-12" ng-disabled="true"
						style="margin-top: 10px; margin-bottom: 10px;  height: 380px;"
						chart="chartViewModel"> </flow-chart>
				</div>
			</div>
		</div>
		<br />

	</section>
</section>
<!-- /MAIN CONTENT -->


