
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Progress', 'No. of Nodes'],
          ['Pending',     1],
          ['Completed',      2]
        ]);

        var options = {
          title: 'My Daily Activities',
          backgroundColor: '#F2F2F2',
          pieHole: 0.4,
          slices: {
              0: { color: 'red' },
              1: { color: 'green' }
            }

        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>


<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i>Clients
		</h3>


		<div class="row mt">
			<div class="col-lg-12">
				 <div id="piechart" style="width: 300px; height: 300px;"></div>
			</div>
		</div>
	</section>
</section>
