

<!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<h3>
			<i class="fa fa-angle-right"></i>Workflows
		</h3>
		<!--
<div style="width: 100%; overflow: hidden;">
		    <div style="width: 600px; float: left;"> 
				<textarea 
					style="width: 1000px; height: 1000px;"
					chart-json-edit
					view-model="chartViewModel"
					>
				</textarea>
</div>-->
		<div class="row mt">
		
<!-- 		 <div class="col-md-6" style="float: left;">  -->
<!-- 				<textarea  -->
<!-- 					style="width: 100%; height: 420px;" -->
<!-- 					chart-json-edit -->
<!-- 					view-model="chartViewModel" -->
<!-- 					> -->
<!-- 				</textarea> -->
<!-- 			</div> -->
			<div class="col-md-12">
			<h4>WorkFlow Name: <input ng-model = "workflowname" type = "text" placeholder = "Enter Workflow Name"/></h4>
			
				<!--
				This custom element defines the flowchart.
				-->
				<flow-chart class="col-md-12" style="margin-top: 10px; margin-bottom: 10px;  height: 380px;"
					chart="chartViewModel"> </flow-chart>
					
					<button class="btn btn-theme" data-toggle="modal" href="#myModal"	
			title="Add a new node to the chart">Add Node</button>
<!-- 				<button class="btn btn-theme" ng-click="addNewNode()" -->
<!-- 					title="Add a new node to the chart">Add Node</button> -->
			<!-- 	<button class="btn btn-theme02" ng-click="addNewInputConnector()"
					ng-disabled="chartViewModel.getSelectedNodes().length == 0"
					title="Add a new input connector to the selected node">
					Add Group</button> -->
				<button class="btn btn-theme03" ng-click="deleteSelected()"
					ng-disabled="chartViewModel.getSelectedNodes().length == 0 && chartViewModel.getSelectedConnections().length == 0"
					title="Delete selected nodes and connections">
					Delete Selected</button>
<button class="btn btn-theme02" ng-click="createWorkflow()"
					title="Save workflow">
					Create Workflow</button>
			</div>
		</div>
		<br/>
		
		<div class="row mt">
			<div class="col-md-12">
				<div class="content-panel">
					<table class="table table-striped table-advance table-hover">
						<h4>
							<i class="fa fa-angle-right"></i> Workflow List
						</h4>
						<hr>
						<thead>
							<tr>
								<th><i class="fa fa-bullhorn"></i> Workflow Name</th>
								<th class="hidden-phone"><i class="fa fa-question-circle"></i>
									Client</th>
								<th><i class=" fa fa-edit"></i> Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="workflow in workflows">
								<td><a href="/#/request" >{{workflow.name}}</a></td>
								<td>{{workflow.client.name}}</td>
								<td>
									<button class="btn btn-success btn-xs">
										<i class="fa fa-check"></i>
									</button>
									<button class="btn btn-primary btn-xs">
										<i class="fa fa-pencil"></i>
									</button>
									<button class="btn btn-danger btn-xs">
										<i class="fa fa-trash-o "></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /content-panel -->
			</div>
			<!-- /col-md-12 -->
		</div>

		<!-- /row -->

	</section>
</section>
<!-- /MAIN CONTENT -->

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
	tabindex="-1" id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">New Node</h4>
			</div>
			<div class="modal-body">
				<p>Select Department</p>
	<select name="group" ng-model="selectedDept">
      <option ng-repeat="option in depts" value="{{option}}">{{option.name}}</option>
    </select>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-default"
					type="button">Cancel</button>
				<button class="btn btn-theme"  data-dismiss="modal" ng-click="addNewNode()" 
					type="button">Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
